<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="message" class="com.demo.spring.Message" scope="singleton">
		<property name="header" value="LunchBreak" />
		<property name="body" value="No Lunch Today" />
	</bean>

	<bean id="mail" class="com.demo.spring.Mail" scope="singleton" init-method="doInit" destroy-method="doClean">
		<property name="toAddress" value="all" />
		<property name="from" value="trainer" />
		<!-- <property name="message" ref="message" /> -->
	</bean>
</beans>
